.formContainer {
    background-color: honeydew !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.inputField {
    margin-bottom: 2em !important;
}

.dateSelector {
    margin-top: 1.25em !important;
    margin-bottom: 2em !important;
}

